body{
    background-color: #1a1a1a;
}
.mob-heading{
    display: none;
}
h2, p, h4{
    color: white;
}
hr{
    border-color: #ffffff;
}
#blogs{
    margin-top: 15vh;
}
.blog-title{
    background-color: #ff7357;
    display: inline-block;
    color: #fafafa;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-family: sans-serif;
}
.description{
    background-color: #2b2b2b;
    padding-left: 2vw;
    padding-right: 1vw;
    padding-bottom: 10vh;
    padding-top: 5vh;
}
a, a:hover{
    color: #ffffff;
}
.jinja{
    display: none;
}
@media only screen and (max-width: 900px){
    .mob-heading{
        display: inline-block;
    }
    .large-heading{
        display: none;
    }
}
.footer a:hover{
    background-color: none;
}